* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #00000060;
    font-weight: 400;
}

/* UTILITIES */
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.selected {
    font-weight: 500;
    color: #000;
}

.unselected {
    color: inherit;
    transition: color 0.2s;
}
.unselected:hover {
    color: #000;
}

.active {
    display: block;
}
/* /UTILITIES */


header {
    display: flex;
    height: 100px;
}

#header-right,
#header-left {
    height: 100%;
}

#header-left {
    width: 25%;
}
#header-left > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-right {
    width: 75%;
}
#header-right > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}
#header-right > ul > li {
    margin-left: 50px;
    position: relative;
}
#header-right li > a {
    transition: color 0.4s;
}

#header-right li > .cascading-menu {
    display: none;
    width: 200px;
    position: absolute;
    top: 40px;
    left: -20px;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 14px -8px #000000;
}
.cascading-menu > li {
    height: 50px;
    line-height: 50px;
    font-weight: 500;
}

.btn-logIn {
    padding: 12px 22px;
    font-weight: 500;
    color: #000;
    border-radius: 10px;
    background: #e5eded;
    transition: background 0.2s;
}
.btn-logIn:hover {
    background: #DADBDB;
}

.btn-download {
    padding: 15px 25px;
    margin-left: 10px;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    background: #000;
    transition: background 0.2s;
}
.btn-download:hover {
    background: #3E4043;
}
